@import "../../_base.scss";

.main__container {
  padding: 0 4rem;
  max-width: $desktop;
  margin: 0 auto;
}

@media screen and (max-width: $laptop) {
  .main__container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: $tablet) {
  .main__container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: $mobile) {
  .main__container {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: $small) {
  .main__container {
    padding: 0 1rem;
  }
}
