/* FOR NAVBAR PART */
.navbarAndSidebar {
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.1);
}

.navbarContainer {
  display: flex;
  align-items: center;
  /* background: black; */
  /* color: #fff; */
  height: 80px;
}
.navbarContainerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.navbarContainerItems {
  display: flex;
}
.navbarContainerLeft {
  display: flex;
  align-items: center;
}
.navbarContainerHamburger {
  padding: 0;
}
.navbarContainerLogo {
  /* padding: 0 20px; */
  font-size: 28px;
  font-weight: bolder;
}
.navbarContainerRight {
  padding: 0;
}
.navbarContainerRightItems {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbarContainerRightItem {
  padding: 0 10px;
  cursor: pointer;
}

/* FOR SIDEBAR PART */
.setSidebarForToggle {
  position: fixed;
  height: 100vh;
  width: 250px;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 20px;
  -webkit-box-shadow: inset 0px 1px 13px -2px rgba(0, 0, 0, 0.97);
  box-shadow: inset 0px 1px 13px -2px rgba(0, 0, 0, 0.97);
  background: #fff;
}
.SidebarToggleBtn {
  border: none;
  background: red;
  cursor: pointer;
}
.SidebarItems {
  list-style-type: none;
}
.SidebarItem {
  padding: 3px 0;
}
/* .SidebarItem:hover {
  font-size: 20px;
} */
.link {
  text-decoration: none;
  /* color: blue; */
  font-weight: 600;
}
.activeClassNameOfSidebar {
  /* font-size: 20px; */
  color: blue;
  font-weight: 700;
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}

.translateForSidebar {
  --tw-translate-x: 0px;
}

.translateForSidebarNeg {
  --tw-translate-x: -100%;
}

@media (min-width: 1024px) {
  .navbarContainerHamburger {
    display: none;
  }
  .setSidebarForToggle {
    display: none;
  }
}
@media (max-width: 1023px) {
  .navbarContainerRightItems {
    display: none;
  }
}
